.main_wrapper {
    position: absolute;
    width: 23%;
    left: 48%;
    transform: translate(-50%, -0%);
}

.wrapper {
    left: 50%;
    transform: translate(-50%, -0%);
    top: 10%;
    width: 35%;
    height: 80%;
    background-color: #020202;
    position: absolute;
    border: 7px solid blueviolet;
    box-shadow: 0 0 20px 7px blueviolet;
    border-radius: 20px;
    overflow: auto;
}