.sending_form {
    position: relative;
    left: 37%;
    top: 30%;
    z-index: 10;
    width: 22%;
    height: 40%;
    background-color: #262627;
    transition: 0.7s;
}

.preloader__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: brightness(0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader {
    position: relative;
    max-width: 300px;
    width: 100%;
}

.preloader::before,
.preloader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0 0 12px aqua);
    z-index: 12;
}

.preloader::before {
    width: 100%;
    aspect-ratio: 1 / 1;
    animation-name: pulseBefore;
    -webkit-animation-name: pulseBefore;

}

.preloader::after {
    width: 220px;
    aspect-ratio: 1 / 1;
    animation-name: pulseAfter;
    -webkit-animation-name: pulseAfter;


}

@keyframes pulseBefore {
    0% {
        box-shadow: inset 0 0 0 40px aqua;
    }
    50%, 100% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
}

@-webkit-keyframes pulseBefore {
    0% {
        box-shadow: inset 0 0 0 40px aqua;
    }
    50%, 100% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
}

@keyframes pulseAfter {
    0%, 50% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 0 40px aqua;
    }
}

@-webkit-keyframes pulseAfter {
    0%, 50% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 1)
    }
}

.preloader_div {
    position: absolute;
    bottom: 23%;
}